@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HTQLTV.Models.BorrowReturn

@{
    ViewData["Title"] = "DetailsBorrow";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Chi tiết thông tin mượn trả sách</h1>

<div>
    <h4>Thông tin mượn trả sách</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.ReaderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reader.ReaderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reader.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.StaffId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditBorrow" asp-route-id="@Model.BorrowReturnId" class="btn btn-primary">Sửa</a> |
    <a asp-action="ListBorrow" class="btn btn-secondary">Quay lại</a>
</div>
