﻿@using HTQLTV.Models;
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<BorrowReturn>



@{
    ViewData["Title"] = "ListBorrow";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Danh mục mượn trả sách</h1>


<div class="d-flex justify-content-between mb-3">
    <a asp-action="CreateBorrow" class="btn btn-primary">Thêm mới</a>
    <form id="searchForm" asp-action="ListBorrow" method="get" class="d-flex">
        <div class="input-group">

            <input type="number" name="readerId" class="form-control bg-light border-2 small" placeholder="Search for ReaderId"
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
        <input type="hidden" name="page" value="1" />
    </form>
</div> 
<p>@TempData["Message"]</p>
<table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <thead>
        <tr>

            <th>ID sách</th>
            <th>ID Staff</th>
            <th>ID Reader</th>
            <th>Tên sách</th>
            <th>Số sách mượn</th>
            <th>Ngày mượn</th>
            <th>Hạn trả</th>
            <th>Ngày trả</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.BookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.StaffId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reader.ReaderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    <a asp-action="EditBorrow" asp-route-id="@item.BorrowReturnId" class="btn btn-success mx-1">Edit</a> |
                    <a asp-action="DetailsBorrow" asp-route-id="@item.BorrowReturnId" class="btn btn-info mx-1">Details</a> |
                    <a asp-action="DeleteBorrow" asp-route-id="@item.BorrowReturnId" class="btn btn-danger mx-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination pagination-sm">
        @Html.PagedListPager(Model, page => Url.Action("ListBorrow", new { page }), new PagedListRenderOptions
   {
       LiElementClasses = new[] { "page-item" },
       PageClasses = new[] { "page-link" },
       UlElementClasses = new[] { "pagination", "pagination-sm" },
       ContainerDivClasses = new[] { "pagination-container" },
       DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
       DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
       DisplayLinkToFirstPage = PagedListDisplayMode.Always,
       DisplayLinkToLastPage = PagedListDisplayMode.Always,
   })
    </ul>
</div>